//palete
$blue:#00367A;
$light-blue:#A9BFDB;
$red:#EE4B4D;
$yellow:#EEB84B;
$grey:#B6B7B7;
$lightGrey: #F3F3F3;
$dark:#3D3D3D;
$darkRed:#cc2d30;
$darkYellow:#e6a82c;
$green:#28A745;
//Imports
@import "partials/_home";
@import "partials/_hotelCards";
@import "partials/_general";
@import "partials/_navigation";
@import "partials/_hotelDetail";
@import "partials/_footer";
@import "partials/_contact";
@import "partials/_login";
@import "partials/_form";
@import "partials/_register";
@import "partials/_admin";
@import "partials/_adminHotelForm";
@import "partials/_modal";
@import "partials/_accounts";

