
.adminMenu{
    padding-top: 70px;
    display: flex;
   
}

.adminMenu div{
    padding: 10px 20px;
    background-color: $lightGrey;
    border-bottom: 1px solid $grey;
    border-top: 1px solid $grey;
    

}
.adminMenu div:hover{
    
    background-color: $red;

}
.adminMenu div:hover a{
    color: white;
    text-decoration: none;
}

.adminMenu a{
    color:$dark;
}

.adminMenu div:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 1px solid $grey;
}

.adminMenu div:last-child {
   
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: 1px solid $grey;
}
.adminHotelMenu{
    padding-top: 20px;
}

.form_update{
    background-color: $lightGrey;
    margin-top:60px;
    margin-bottom: 50px;
    padding: 20px 30px;
    border-radius: 10px;
    border: 1px solid $grey;
    
}
.form_update .form-control {
    border: 1px solid $grey;
    
}
.form_update::placeholder{
    // font-weight: lighter;
    // color: $grey;
}

.form_update input, .form_update textarea{
    // font-weight: bold;
}

.form_update .form-label {
 
    color: $dark;
}
.form_update-select{
    background-color: $red;
    color: white;
    margin-top: 30px;
    
}
.form_update-select:focus{
    background-color: $red;
    color: white;
    box-shadow: none;
}
.form_update-select .select_heading {
    margin-left: 5px;
}
.form_update .form-label{
    font-style: oblique;
}
