.adminMenu{
  padding-top: 20px;
  display: flex;
}
.adminMenu a{
  padding: 7px 20px;
  background-color: $lightGrey;
  border-bottom: 1px solid $grey;
  border-top: 1px solid $grey;
}
.adminMenu a:hover{
  text-decoration:none;
  background-color: $red;
}
.adminMenu a:hover p{
  color: white;
  text-decoration: none;
}
.adminMenu p{
  color:$dark;
}
.adminMenu a:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-left: 1px solid $grey;
}
.adminMenu a:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-right: 1px solid $grey;
}
.adminHotelMenu{
  padding-top: 10px;
}
.form_update{
  position:relative;
  background-color: $lightGrey;
  margin-top:20px;
  margin-bottom: 50px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid $grey;
}
.form_update .form-label{
  margin-bottom:2px;
}
.form_update .form-control {
  border: 1px solid $grey;
}
.form_update .form-group {
  margin-bottom:5px;
}
.form_update .form-group-flex {
  margin-top:20px;
  display: grid;
  grid-template-columns: auto auto; 
  grid-template-rows: auto;
}
.form_update .form-group-right {
  margin-left:10px;
}
.form_update .form-group-left {
  margin-right:10px;
}
.form-margintop{
  margin-top:70px;
}
.form_update .form-label {
  color: $dark;
}
.form_update-select{
  background-color: $red;
  color: white;
  margin-top: 30px;
}
.form_update-select:hover{
  cursor:pointer;    
}
.form_update-select:focus{
  background-color: $red;
  color: white;
  box-shadow: none;
}
.form_update-select .select_heading {
  margin-left: 5px;
}
.form_update .form-label{
  font-style: oblique;
}
.form_update button {
  margin-top: 30px;
  padding: 5px 30px;
  background-color: $red;
  color: white;
}
.form_update .btn-primary:hover {
  background-color: $darkRed;
}
.form_update .formGroup-readonly{
  max-width: 300px;
  padding: 10px;
  border: 1px solid $grey;
  border-radius: 6px;
  margin: 20px 14px;
  background-color: white;
}
.form_update .text-danger{
  background-color:$lightGrey;
}
.formGroup-readonly div{
  display: flex;
}
.formGroup-readonly label{
  margin-top: 10px;
  width: 150px;
  align-self: center;

}
.formGroup-readonly .readonly-id{
  margin-left:10px;
  font-weight:bold;
  font-size:18px;
  margin-bottom:15px;
}
.form_readonly{
  display: flex;
  flex-wrap: wrap ;
}
#form_messages button{
  width:100%;
  margin-top:20px;
}
