#contactHome{
    background-image: url("../../images/home2.png");
    height: auto;
   
}
#contactPage{
    background-image: url("../../images/home1.png");
    height: 100vh;
  
   
}
#contactPage .formContainer {
    margin-top: 50px;
}
#contactPage h2,#contactHome h2{
    color: white;
    padding-bottom: 40px;
   
}



