html{
  overflow-x: hidden;
}
h1{
	font-family: 'Open Sans', sans-serif;
	font-size: 64px;
	font-weight: 500;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-size: 45px;
	margin: 0;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-size: 35px;
	margin: 0;
}

h4{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight: 100;
	margin: 0;
}

h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	margin: 0;
}

h6{
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	margin: 0;
	
}
html{
	color: $dark;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}
.body{
	margin-top: 70px;
	min-height:100vh;
}
p{
	font-family: 'Roboto', sans-serif;
	margin: 0;
}
a{
	font-family: 'Roboto', sans-serif;
}

.container_hotel {
	max-width: 1350px;
	margin: 0 auto;
	
	
}
.flex-container {
	max-width: 1500px;
	margin: 0 auto;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}
.formContainer {
    max-width: 600px;
    margin: 0 auto;
}

.Button{
	border-radius: 5px;
	background-color: $yellow;
	color: white;
	padding: 5px 10px;
	max-width: 200px;
}

.btn-primary {
    color: $blue;
    background-color: $yellow;
    border: none;
	font-family: 'Roboto', sans-serif;

	
}

.btn-primary:hover {
    color: white;
    background-color: $darkYellow;
 
	font-family: 'Roboto', sans-serif;
	font-weight: normal;
	border: none;
	
}
.activeLinkAdmin {
	color:$red!important;
}
.activeLinkNormal {
	color:$yellow!important;
}
.fa-trash-alt{
    position: absolute;
    // align-self:flex-end;
    font-size: 20px;
    padding: 15px;
    background-color: $red;
    border-radius: 5px;
    color: white;
    margin-left: 30px;
    top:165px;
    left: calc(100% - 95px);
}
.fa-trash-alt:hover{
    cursor:pointer;
}
.fa-window-close{
		float:right;
    font-size: 25px;
    padding: 5px;
    background-color:white;
    color: $red;
}
.fa-window-close:hover{
    cursor:pointer;
}

.react-confirm-alert-body{
	text-align: center;
	
	background-color: $lightGrey;
	max-width: 400px;
	width: auto;

}
.react-confirm-alert-body h1{
	font-size: 35px;
}
.button-container{
	text-align: center;
	max-width:600px;
	margin: 0 auto;

}
.react-confirm-alert-button-group{
	display: block;
	
	
}
.react-confirm-alert-button-group button{
	background-color: $red;
	color:white;
	font-size: 16px;
	margin-right: 15px;
	
}
.admin-button{
	background-color: $red;
	color:white;
	width:100%;
}
.admin-button:hover{
	background-color: $darkRed;
}

@media (max-width: 1500px){
    .container_hotel {
		max-width: 1030px;
	}

}

@media (max-width: 1060px){
   .container_hotel {
		padding: 0 10px;
	}

}
