.search {
    background-image: url("../../images/home1.png");
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

.search_text{
    width: 600px;
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color:white;
    text-align: center;
    
}
.search_text h1{
   padding-bottom: 20px;
    
}

#search-home {
    
    width: 300px;
    margin: 0 auto;
    
}
#search-home input {
    
    border: 3px solid $yellow;
    
}


