#login{
    background-image: url("../../images/home1.png");
    
}
.login_form{
    margin: 150px 10px;
    
}
#login a span {
    color: white;
}

#login a {
    margin-top: 10px;
    color: $yellow;
}

#login a:hover span{
    text-decoration-color: $darkYellow;
    color:$darkYellow;
    
}
#login a:hover{
    text-decoration-color: $darkYellow;
    color:$darkYellow;
    
}



