#login{
    background-image: url("../../images/home1.png");
    
}
#login a span {
    color: white;
}

#login a {
    margin-top: 10px;
    color: $yellow;
    background-color: rgba(0, 0, 0, 0.426);
}

#login a:hover span{
    text-decoration-color: $darkYellow;
    color:$darkYellow;
    
}
#login a:hover{
    text-decoration-color: $darkYellow;
    color:$darkYellow;
    
}



