
.enquire-modal .formContainer{
    padding:0px;
}
.enquire-modal .modal-content{
    background-color: $blue;
    color:white;
    padding: 10px;
    border-radius: 15px;

}
.enquire-modal-header{
    border-bottom: none;
    padding: 1rem 1rem 0rem 1rem;
}
.enquire-modal-header .modal-title{
    font-size: 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.enquire-modal-header .close{
    margin:3px 3px 3px auto;
    color: $blue;
    background-color:$yellow;
    opacity:1.0;
    padding:5px 9px;
    border-radius:4px;
    
}
.update-modal-header .close{

    background-color:$red;
    color: white;
}
.enquire-modal-header .close:hover{
  background-color: $darkYellow;
  color:white; 
  opacity: 1.0 !important;
}
.update-modal-header .close:hover{

    background-color:$darkRed;
    color: white;
}
.modal-body{
   padding:0rem 1rem;
}
.modal-body p{
   margin-bottom:1rem;
}

.modal-body button{
    width:250px;
    background-color:$red;
    color:white;
    margin: 10px auto;
}
.enquire-modal .modal-body button{
    margin-top:30px;
    width:100%;
    background-color:$yellow;
}
.modal-body button:hover{
    background-color:$darkRed;
}
.enquire-modal .modal-body button:hover{
    background-color:$darkYellow;
}

#update-modal{
    margin:0 auto;
}
#update-modal input{
    font-size:14px;
}
#update-modal .modal-header div{
    font-size:25px;
}
#update-modal .modal-body{
    padding:0;
}
#update-modal p{
    margin-bottom:2px;
}
#form_modal-update{
    margin:10px;

    
}
#update-modal .modal-group{
    margin:0;
}
#form_modal-update .modal-new input,#form_modal-update .modal-new textarea{
  border:2px solid $green;
}
#update-modal .formContainer{
    max-width:none; 
}
@media (min-width: 576px){
        #update-modal{
            
        max-width:1060px;
        margin:0 auto;
    }
}
