.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-container{
    max-width:1030px;   
    margin:0 auto;
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:space-between;
}
.navbar-brand img{
  height:60px;
}
.navbar-toggler {
    background-color: $yellow;
    border: none;
}
.navbar {
    padding: 0 10px;
    display:block;
  
} 
.navbar .btn-primary{
    width:80px;
  
} 

.navbar-nav a{
    padding: 10px 0;
    color: $blue;
 
}
.navbar a:hover{
    text-decoration: none;
    color: $yellow;
  
}
.navNormal{
    background-color: white;
} 
.navAdmin{
    background-color: $blue;
} 
.navAdmin .navbar-nav a{
    color: white;
} 
.navAdmin a:hover{
    color: $red;
} 
.navAdmin Button{
    background-color: $red;
    color: white;
} 
.navAdmin Button:hover{
    background-color: $darkRed;
    color: white;
} 

.navAdmin .navbar-toggler{
    background-color: $red;
    color: white;
} 


@media (min-width: 992px){
    .navbar-nav a{
        padding: 0 20px;
        align-self: center;
        color: $blue;
      
    }

}

