.navbar-toggler .navbar-toggler-icon {
  
   
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      
    // background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e)
}

.navbar-toggler {
    background-color: $yellow;
    border: none;
}
.navbar {
    padding: 0 10px;
  
} 

.navbar-nav a{
    padding: 10px 0;
    color: $blue;
    font-weight: bold;
}
.navbar a:hover{
    text-decoration: none;
    color: $yellow;
  
} 


@media (min-width: 992px){
    .navbar-nav a{
        padding: 0 20px;
        align-self: center;
        color: $blue;
        font-weight: bold;
    }

}

