#register{
    background-image: url("../../images/home1.png");
}
.register_form{
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 600px;
}